
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  
  }

 /* .header
  .hero {

  } */

  .header {
    background-color: #1f2937;    
    display: flex;
    justify-content: space-between;
  }

#head {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
  }

  ul, li {
    text-decoration: none;
    display: flex;
    margin: 15px;
    padding: 3px;
    gap: 8px;
    list-style-type: none;
  }


  a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }
