
body {
    height: 100vh;
    max-width: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  
  }

 .header,
  .hero {
    background-color: #1f2937; 
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

.hero {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.left-links {
    justify-content: flex-start;
}

#head {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
  }


  ul, li {
    text-decoration: none;
    display: flex;
    margin: 15px;
    padding: 3px;
    gap: 8px;
    list-style-type: none;
  }


  a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }

  .overview {
    color: #f9faf8;
    justify-content: flex-start;
  }

  #short {
    max-width: 200px;
    color: #f9faf8;
  }

  button {
    border: none;
    border-radius: 5px;
    background: #3882f6;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 24px;
  }

.info {
    text-align: center;
    padding-bottom: 8px;
}

.image1 {
    float: inline-end;
    max-width: auto;
    max-height: 400px;
}

.img-info {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}


.caption {
    display: block;
    width: 120px;
}

.image2 {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.caption {
    display: block;
}

.quote {
    display: block;
    padding: 20px;
    row-gap: 8px;
    background-color: #e5e7eb;
}

#words {
    font-size: 20px;
    font-style: italic;
    color: #1f2937;
    max-width: 500px;
    margin-left: 200px;
    justify-items: center;
    text-align: center;
}

#reviewer {
    font-size: 20px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.box {
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    background-color: #3882f6;
}

.text-action {
    color: #f9faf8;
}

#call {
    font-weight: bolder;
    font-size: 20px;
    max-width: 450px;
}

#sign-up {
    font-size: 15px;
    max-width: 300px;
}

.footer {
    background-color: #1f2937;
    align-content: center;
    padding: 3px;
    margin-top: 10px;
    color: #f9faf8;
    text-align: center;
}