* {
    box-sizing: border-box;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
  }

  .grid:hover {
    background-color: aqua;
  }

  .btn {
    text-align: center;
    vertical-align: middle;
    pad: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px #2d9cdb;
    background-color: rgb(126, 126, 214);
    border-radius: 4;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
        }

.btn-header:hover {
     background-color: rgba(5, 5, 5, 0.3);
 }